# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# macOS files
.DS_Store

# py2app build output
build/
dist/
*.app
*.icns
*.dmg

# Cache and logs
*.log

# iCal export or temp files
*.ics
